{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        html,
        body {
            width: 100%;
            margin: 0px;
            padding: 0px;
            overflow-x: hidden;
        }

        body::-webkit-scrollbar {
            display: none;
        }

        /* Hide scrollbar for IE, Edge and Firefox */
        body {
            background-color: #dddce0;
            -ms-overflow-style: none;
            /* IE and Edge */
            scrollbar-width: none;
            /* Firefox */
        }

        .navbar {
            padding: 0px 8px;
        }

        #heading {
            font-size: 20px;
            margin: 0px;
            padding: 0px;
            margin-top: 2px;
        }

        .onhover {
            transition: background 1s ease;
        }

        .onhover:hover {
            cursor: pointer;
            background-color: turquoise !important;
        }

        #image {
            margin: 0px;
            padding: 0px;
        }

        .ht {
            height: 500px;
        }

        .mkl {
            list-style: none;
        }

        .bg {
            background-color: rgb(0, 45, 66);
        }

        .fs {
            font-size: 40px;
            font-family: Arial, Helvetica, sans-serif;
            color: rgb(175, 175, 175);
        }

        #colbt {
            background-color: rgb(206, 206, 206);
            color: black;
            border-radius: 25px;
            transition: background 1s ease;
        }

        #colbt:hover {
            background-color: rgb(0, 143, 156);
        }

        @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;900&family=Raleway:wght@500&display=swap');
    </style>
    <title>Hello, world!</title>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark ">
        <div>
            <img src="{% static 'img/Mnit_logo.png' %} " height="50px" width="50px" class="mr-auto" id="iamge">
            <img src="{% static 'img/EC Logo.png' %} " height="52px" width="52px" class="mr-auto ml-1" id="iamge">
        </div>

        <div class="mr-auto ml-2 text-white">
            <p id="heading" class="mt-2">Energy Club</p>
            <p>Centre For Energy and Environment</p>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto ">
                <li class="nav-item active px-2">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item px-2">
                    <a class="nav-link" href="/events">Events</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link" href="/achievements">Achievements</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link" href="/team">Team</a>
                </li>

            </ul>

        </div>
    </nav>
    <div class="bd-example">
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{% static 'img/2.jpg' %} " class="d-block w-100" alt="..." height="650px">
                    <div class="carousel-caption d-none d-md-block">
                        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                        <h5>First slide label</h5>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{% static 'img/3.jpg' %}" class="d-block w-100" alt="..." height="650px">
                    <div class="carousel-caption d-none d-md-block">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <h5>Second slide label</h5>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{% static 'img/6.jpg' %}" class="d-block w-100" alt="..." height="650px">
                    <div class="carousel-caption d-none d-md-block">
                        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                        <h5>Third slide label</h5>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div class="container mt-5 shadow p-3 mb-5 bg-light bg rounded text-center onhover">
        <h2 class="mt-5 mb-3" style="font-family:'Playfair Display', serif; font-weight: 600;">About Energy Club</h2>
        <p class="text-justify mb-5 mt-2 p-3" style="font-family:'Raleway',sans-serif;">Energy Club was established in
            2007 as a student wing of centre of energy and
            environment by two of our super seniors. They had participated in Mondialgo Engineering Competition Since
            then we
            have been growing continuously. We offer you a platform where you can work on innovative ideas and projects
            related to our domain <b>"Energy & Environment" </b>

            Parallel Club Develops necessary skills in an individual like public speaking,team workability,event
            management
            skills ,editorial skills are just a few to name.Currently ,the Energy club has 50+ active member who are
            highly
            conscious and concerned about the future of energy and sustainability.

        </p>
    </div>
    </div>



    <div class="container row mx-auto mt-5 shadow p-3 mb-5 bg-light bg rounded onhover">
        <div class="container text-center mt-5">
            <h2 style="font-family:'Playfair Display', serif; font-weight: 600;">Articles</h2>
        </div>

        <div class="col-sm-6 mx-auto my-5">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Read more</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 mx-auto my-5">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Read more</a>
                </div>
            </div>
        </div>
        <div class="container text-right mb-5 mr-5"><a href="/articles">
                <p>See more articles--></p>
            </a></div>
    </div>
    </div>




    <div class="container row mx-auto mt-5 shadow p-3 mb-5 bg-light bg-rounded onhover">
        <div class="container text-center mt-5 ">
            <h2 style="font-family:'Playfair Display', serif; font-weight: 600;">Activities</h2>
        </div>

        <div class="card col-lg-3 col-md-5 mx-auto my-5" style="width: 18rem;">
            <img src="{% static 'img/5.jpg' %}" class="card-img-top mt-4" alt="...">
            <div class="card-body">
                <h5 class="card-title">Monthly Newsletters</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a href="/newsletter" class="btn btn-primary">Read More</a>
            </div>
        </div>

        <div class="card col-lg-3 col-md-5 mx-auto my-5" style="width: 18rem;">
            <img src="{% static 'img/6.jpg' %}" class="card-img-top mt-4" alt="...">
            <div class="card-body">
                <h5 class="card-title">Pear-Learning Sessions</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a href="/learning" class="btn btn-primary">Read More</a>
            </div>
        </div>
        <div class="card col-lg-3 col-md-5 mx-auto my-5" style="width: 18rem;">
            <img src="{% static 'img/7.jpg' %}" class="card-img-top mt-4" alt="...">
            <div class="card-body">
                <h5 class="card-title">Workshops/Visits</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a href="visits.html" class="btn btn-primary">Read More</a>
            </div>
        </div>
    </div>



    <footer class="bg mt-5" style="height:auto;">

        <div class="col-sm-7 mx-auto text-center pt-5 ">
            <h5 class="text-white">
                "Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente laboriosam, tempore, esse fugiat
                voluptatibus consequ
                Recusandae, provident tempora? Quidem magni, facere porro quia ea facilis exercitationem accusamus.""
            </h5>
        </div>
        <div class="container pt-4 mx-auto text-center text-white ">



            <!-- Button trigger modal -->
            <button type="button" id="colbt" class="btn" data-toggle="modal" data-target="#exampleModal">
                Suggest Something
            </button>

            <!-- Modal -->
            <div class="modal fade text-justify" id="exampleModal" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Suggestion Form</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="suggestion" method="POST" class="text-dark">
                                {% csrf_token %}
                                <div class="form-group row">
                                    <label for="name" class="col-sm-3 col-form-label">Name</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="name" name="name" required
                                            placeholder="Your Name">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="inputSuggest" class="col-sm-6 col-form-label">Any Suggestions</label>
                                    <div class="col-sm-12">
                                        <textarea class="form-control" id="inputSuggest" name="suggest" required
                                            placeholder="Write your suggestion here!"></textarea>
                                    </div>
                                </div>


                                <div class="form-group row ">
                                    <div class="col-sm-12 ">
                                        <button type="submit " class=" btn btn-dark">Submit</button>
                                    </div>
                                </div>
                            </form>


                        </div>


                    </div>
                </div>
            </div>

            <h3 class="pt-2 fs text-center">Connect With Us!</h3>
        </div>
        <div class="row pb-2">
            <ul class="row mx-auto mkl">
                <li class="p-2"><a href="https://www.facebook.com/search/top/?q=Energy%20Club%20-%20MNIT%20Jaipur"><img
                            src="{% static 'img/facebook1.png' %}" height="40px" width="40px" alt=""></a></li>
                <li class="p-2"><a href="https://www.instagram.com/the_energy_club/"><img
                            src="{% static 'img/instagram1.png' %}" height="40px" width="40px" alt=""></a></li>
                <li class="p-2"><a href="https://in.linkedin.com/company/energy-club-mnit-jaipur"><img
                            src="{% static 'img/linkedin1.png' %}" height="40px" width="40px" alt=""></a></li>
                <li class="p-2 pr-5"><a href="mailto:energyclub@mnit.ac.in"><img src="{% static 'img/gmail1.png' %}"
                            height="40px" width="40px" alt=""></a></li>
            </ul>
        </div>

        </div>
    </footer>

    </div>
    </div>







    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>