{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
  .navbar{
      padding: 0px 8px;
    }
#heading{
          font-size: 20px;
          margin: 0px;
          padding: 0px;
          margin-top: 2px;
        }

        #image{
          margin: 0px;
          padding: 0px;
        }
        body {
            background-image: url({% static 'img/13.jpg' %} );
            background-position: center;
            background-repeat: repeat;

        }
        #bd,#bd2 {
            border: 4px solid rgb(0, 187, 171);
        }
        .mkl {
            list-style: none;
        }

        .bg {
            background-color: rgb(0, 45, 66);
        }



        .fs {
            font-size: 40px;
            font-family: Arial, Helvetica, sans-serif;
            color: rgb(175, 175, 175);
        }

        #colbt {
            background-color: rgb(206, 206, 206);

            color: black;
            border-radius: 25px;
        }

        #colbt:hover {
            background-color: rgb(0, 143, 156);
        }
    </style>
    <title>Hello, world!</title>
</head>

<body>

    <!-- Code for navigation Bar -->
    <nav class="navbar navbar-expand-md navbar-dark bg-transparent">
        <div>
            <img src="{% static 'img/Mnit_logo.png' %} " height="50px" width="50px" class="mr-auto" id="iamge">
            <img src="{% static 'img/EC Logo.png' %}" height="52px" width="52px" class="mr-auto ml-1" id="iamge">
         </div>
        
         <div class="mr-auto ml-2 text-white">
         <p id="heading" class="mt-2">Energy Club</p>
         <p>Centre For Energy and Environment</p>
         </div>

        <button class="navbar-toggler border border-dark" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon my-toggler "></span> 
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto  ">
                <li class="nav-item  pr-1">
                    <a class="nav-link " href="/">Home <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item px-2">
                    <a class="nav-link text-white" href="/events">Events</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link" href="/achievements">Achievements</a>
                </li>

                <li class="nav-item px-2">
                    <a class="nav-link" href="/team">Team</a>
                </li>

            </ul>

        </div>
    </nav>

    




    
    <!-- footer  -->


    <footer class="bg mt-5" style="height:auto;">

        <div class="col-sm-7 mx-auto text-center pt-5 ">
          <h5 class="text-white">
            "Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente laboriosam, tempore, esse fugiat
            voluptatibus consequ
            Recusandae, provident tempora? Quidem magni, facere porro quia ea facilis exercitationem accusamus.""
          </h5>
        </div>
        <div class="container pt-4 mx-auto text-center text-white ">
    
    
    
          <!-- Button trigger modal -->
          <button type="button" id="colbt" class="btn" data-toggle="modal" data-target="#exampleModal10">
            Suggest Something
          </button>
    
          <!-- Modal -->
          <div class="modal fade text-justify" id="exampleModal10" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form action="" class="text-dark">
                    <div class="form-group row">
                      <label for="inputEmail3" class="col-sm-3 col-form-label">Name</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputEmail3" placeholder="Your Name">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="inputEmail" class="col-sm-3 col-form-label">Email</label>
                      <div class="col-sm-9">
                        <input type="email" class="form-control" id="inputEmail" placeholder="Your Email Id.">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="inputSuggest" class="col-sm-6 col-form-label">Any Suggestions</label>
                      <div class="col-sm-12">
                        <textarea class="form-control" id="inputSuggest"
                          placeholder="Write your suggestion here!"></textarea>
                      </div>
                    </div>
    
    
                    <div class="form-group row ">
                      <div class="col-sm-10">
                        <button type="submit" class="btn btn-dark">Submit</button>
                      </div>
                    </div>
                  </form>
    
    
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    
                </div>
    
              </div>
            </div>
          </div>
    
          <h3 class="pt-2 fs text-center">Connect With Us!</h3>
        </div>
        <div class="row pb-2">
      <ul class="row mx-auto mkl">
        <li class="p-2"><a href="https://www.facebook.com/search/top/?q=Energy%20Club%20-%20MNIT%20Jaipur"><img
              src="{% static 'img/facebook1.png' %}" height="40px" width="40px" alt=""></a></li>
        <li class="p-2"><a href="https://www.instagram.com/the_energy_club/"><img src="{% static 'img/instagram1.png' %}" height="40px"
              width="40px" alt=""></a></li>
        <li class="p-2"><a href="https://in.linkedin.com/company/energy-club-mnit-jaipur"><img src="{% static 'img/linkedin1.png' %}"
              height="40px" width="40px" alt=""></a></li>
        <li class="p-2 pr-5"><a href="mailto:energyclub@mnit.ac.in"><img src="{% static 'img/gmail1.png' %}" height="40px" width="40px"
              alt=""></a></li>
      </ul>
    </div>
    
        </div>
      </footer>





    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>